.App {
  text-align: center;
}
.loading__state {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error__state {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading__state h1 {
  color: green;
  font-size: 5rem;
}
.error__state h1 {
  color: rgb(242, 93, 93);
  font-size: 5rem;
}
