.login {
  background-color: white;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 20px;
  height: fit-content;
}
.login__container > h1 {
  font-weight: 400;
  margin-bottom: 20px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border: 1.5px solid lightgrey;
  border-radius: 4px;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid #5b5b5b;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

.login__registerButton {
  border-radius: 2px;
  width: 350px;
  color: #111;
  height: 30px;
  border: 1px solid darkgrey;
  margin-top: 10px;
}

.login__new {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 350px;
  justify-content: space-between;
}
.login__new h5 {
  font-weight: 500;
  color: #767676;
  font-size: 12px;
}
.login__new-1 {
  background-color: lightgrey;
  height: 1px;
  width: 110px;
}
.login__new-2 {
  background-color: lightgrey;
  height: 1px;
  width: 110px;
}
